#moduleButton{
    text-align: center !important;
}
#topicButton{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
h1{
    text-align: center;
}
#subt{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover !important;
}