#moduleButton{
    text-align: center !important;
}
#topicButton{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
h1{
    text-align: center;
}
#subt{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover !important;
}

#topic-page-hero{
    padding: 5rem 2rem;
      background-repeat: no-repeat;
  background-position: center;
    background-size: 100%;
  object-fit: fill;
}

#topic-page-title{
    color: #fff;
}

#topic-page-description{
    color: #fff;
}