#moduleButton{
    text-align: center !important;
}
#topicButton{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
#topic{
    text-align: center !important;
}
h1{
    text-align: center;
}
#subt{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover !important;
}

#topic-page-hero{
    padding: 4rem 2rem;
      background-repeat: no-repeat;
  background-position: center;
    background-size: 100%;
  object-fit: fill;
}

#topic-page-title{
    color: #fff;
}

#topic-page-description{
    color: #fff;
}

#module-page-content-wrapper{
    margin: 2rem 0 0 0;
}

.content-embed{
    width: 100%;
    min-height: 50rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
}

a.card{
    color: inherit;
    text-decoration: none;
}

.back-button{
    margin: 0 0 1rem 1.5rem;
}