@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

/* search bar */
#search-bar {
    position:absolute !important; 
    right: 35% !important;
}
/* removed bg-gradient-primary from the accordina sidebar class */
#accordionSidebar {
    background-color: #CFB997 !important;
}

/* removed btn-primary from class */
#search-button {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important;
}

/* On viewTopics.html */
#module {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important;
}

#topic {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important;
}

/* on addmodule.html */
#add-module {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important; 
}

#add-content {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important;   
}

/* on addtopic.html */
#add-topic {
    background-color: #CFB997 !important;
    border-color:  #CFB997 !important;     
}

/* viewtopic.html */
#back-to-topic {
     background-color: #CFB997 !important;
    border-color:  #CFB997 !important;        
}